@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My TinyCollege</h1>
    <p class="lead">Our programs comine classroom theory with real world hands-on experience</p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now!</h2>
        <p>
            The first step to your new career starts here!
            Book a tour, request informatio, or apply right now.
            There is no application fee!
        </p>
        <p><a class="btn btn-default" href="#">Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            Join us during one fo our Preview NIghts! Learn ore about My TinyCollege,
            meet with a member of our admissions department, tour the campus and even apply on the spot
        </p>
        <p><a class="btn btn-default" href="#">View Campus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            Wheater you're a recent high school graduate, or looking to make a career change,
        My TinyCollege has the career training to help you succeed! </p>
        <p><a class="btn btn-default" href="#">Our Programs &raquo;</a></p>
    </div>
</div>