@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My TinyCollege</h1>
    <p class="lead">Our programs combine classroom theory with real world hands-on experience.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            The first step to your new career starts here!
            Book a tour, request information, or apply right now.
            There is no application fee!
        </p>
        <p><a class="btn btn-default" href="#">Apply Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            Join us during one of our Preview Nights!  Learn more about My TinyCollege,
            meet with a member of our admissions department, tour the campus and even
            apply on the spot.
        </p>
        <p><a class="btn btn-default" href="#">View Campus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>
            Whether your're a recent high school graduate, or looking to make a career change,
            My Tiny College has the career training to help you succeed!
        </p>
        <p><a class="btn btn-default" href="#">Our Programs &raquo;</a></p>
    </div>
</div>