@model IEnumerable<MyTinyCollege.ViewModels.EnrollmentDateGroup>
    @{ 
        ViewBag.Title = "Student body Statistics";
    }

<h2>Student Body Statistics</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem=>item.EnrollmentDate)</td>
                <td>@item.StudentCount</td>
            </tr>
        }
    </tbody>
</table>
